{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="jumbotron" style="background-image: url('/build/images/wallpaper.jpg')">
        <div class="jumbotron-shadow">
            <div class="container text-center">
                <h1 class="jumbotron-title">
                    Max'Renov
                </h1>
                <div class="jumbotron-text">
                    Électricien
                </div>
            </div>
        </div>
    </div>
{% endblock %}
