###> IDE ###
/.idea/
###< IDE ###

###> Docker ###
/.docker/.env
/.docker/services/database/data
!.docker/services/database/data/.gitkeep
/.docker/services/database/import
!/.docker/services/database/import/.gitkeep
###< Docker ###

###> assets ###
/public/uploads/
###< assets ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/files/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
