<div class="d-flex flex-column align-items-center">
    <div>
        <img src="{{ asset('images/google.png') }}" width="130px"/>
    </div>
    <div class="fs-1">
        {{ googleReview.ratingAverage | number_format(1, ',') }}
    </div>
    <div class="d-flex flex-row fs-4 stars">
        {{ rating_star(googleReview.ratingAverage, 5) }}
    </div>
    <div class="fs-5">
        {{ googleReview.CountReview }} avis
    </div>
</div>