.card.card-connexion {
  max-width: 500px;
  margin: 5rem auto 5rem auto !important;

  .card-title {
    text-align: center;
  }

  @include media-breakpoint-down(xs) {
    margin: 1rem auto 0 auto;
  }
}

.card.card-review {
  .card-title {
    a {
      text-decoration: none;
      color: $main;
    }
  }

  .card-footer {
    background: inherit;
    border-top: 0;
  }
}