.jumbotron {

  .jumbotron-shadow {
    background-color: rgba(0, 0, 0, 0.2);
  }

  > * {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .jumbotron-title {
    font-size: 3.5rem;
  }

  .jumbotron-text {
    font-size: 1.2rem;
    color: $gray-200;
  }

  &.home-jumbotron {
    background-size: cover;
    background-position: center;
    color: $white;
  }
}