.navbar.topbar {
  @extend .fixed-top;
  @extend .navbar-expand;
  transition: all .5s ease;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  & a {
    color: $white;
  }

  &.scrolled {
    @extend .navbar-light;
    @extend .bg-light;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  }

  &.unscrollable {
    @extend .sticky-top;
    @extend .navbar-light;
    @extend .bg-light;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  }
}