.navbar.topbar {
  @extend .fixed-top;
  @extend .navbar-expand-sm;
  transition: all .5s ease;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  & a {
    color: $white;
  }

  .navbar-toggler {
    color: white;
    border: 0 none;

    &:focus {
      box-shadow: none;
    }
  }

  &.scrolled {
    @extend .navbar-light;
    @extend .bg-light;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    .navbar-toggler {
      color: inherit;
    }
  }

  &.unscrollable {
    @extend .sticky-top;
    @extend .navbar-light;
    @extend .bg-light;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }

  @include media-breakpoint-down(xs) {
    .navbar-nav {
      @extend .flex-row;
      @extend .justify-content-around;

      .nav-item {
        padding: 0 .5rem;
        text-align: center;
      }
    }
  }
}
