<div class="jumbotron home-jumbotron" style="background-image: url('{{ asset('build/images/wallpaper.jpg') }}')">
    <div class="jumbotron-shadow">
        <div class="container text-center">
            <h1 class="jumbotron-title">
                Max'Renov
            </h1>
            <div class="jumbotron-text">
                Artisan électricien
            </div>
        </div>
    </div>
</div>