<div class="jumbotron home-jumbotron" style="background-image: url('{{ image }}')">
    <div class="jumbotron-shadow">
        <div class="container text-center">
            <h1 class="jumbotron-title">
                {{ title }}
            </h1>
            {% if subtitle is not null %}
                <div class="jumbotron-text">
                    {{ subtitle }}
                </div>
            {% endif %}
        </div>
    </div>
</div>