<div class="footer">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 col-left mb-3 mb-sm-0">
                    <div class="title">A propos</div>
                    <i class="fa-solid fa-copyright"></i>
                    Max'Renov. 2022.<br>
                    Développement: Gwennael Jean
                </div>
                <div class="col-12 col-sm-4 col-center mb-3 mb-sm-0">
                    <div class="title">Contact</div>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <i class="fa-solid fa-fw fa-envelope" aria-hidden="true"></i>
                            maxrenov76@outlook.fr
                        </li>
                        <li>
                            <i class="fa-solid fa-fw fa-phone" aria-hidden="true"></i>
                            07.61.43.52.52
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 col-right mb-3 mb-sm-0">
                    <div class="title">Réseaux sociaux</div>
                    <div class="mb-1">
                        <a href="https://twitter.com/La_MaisonJaune">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-twitter fa-stack-1x icon-rs"></i>
                        </span>
                        </a>
                        <a href="https://www.facebook.com/L.MaisonJaune">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-facebook-f fa-stack-1x icon-rs"></i>
                        </span>
                        </a>
                        <a href="https://www.instagram.com/la_maison.jaune/">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-instagram fa-stack-1x icon-rs"></i>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
