<div class="card h-100">
    <div class="card-body text-center">
        <i class="{{ icon }} fa-3x"></i>
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">
            {{ text }}
        </p>
    </div>
</div>